<link href="https://fonts.googleapis.com/css?family=Parisienne&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/3cd69e2433.js" crossorigin="anonymous"></script>
<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">Sports Cars</span></p>
        </div>
        <div *ngIf="!isLoggedIn" class="mini-navbar">
            <ul>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/register">Register</a>
                </li>
            </ul>
        </div>
        <div *ngIf="isLoggedIn" class="mini-navbar">
            <ul>
                <li>
                    <a routerLink="/profile">{{ firstName }}'sProfile</a>
                </li>
                <li (click)="logout()">
                    <a routerLink="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
           
            <li>
                <a routerLink="/add-theme">Add Car</a>
                
            </li>
            <li>
                <a routerLink="/trending">Trending</a>
            </li>
            <li>
                <a routerLink="/themes">Catalog</a>
            </li>
            <li>
                <a routerLink="/search">Search</a>
            </li>
            
        </ul>
    </nav>

</header>